.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fff7f4;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #4d3b38;
  font-size: 8rem;
  color:#b43157;
}

p {
  font-size: 2rem;
  color: #b43157;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #57423f;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.randomize {
  text-align: center;
  background-color: #a9636b;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #ffe3e0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 6rem;
  width: 20%;
  cursor: pointer;
}

.randomize:hover{
  opacity: 80%;
}